@mixin palette {
  --color-black: #000;
  --color-grey-950: #2f2a45;
  --color-grey-800: #3d3659;
  --color-grey-700: #4b465e;
  --color-grey-600: #645e7a;
  --color-grey-500: #8b85b6;
  --color-grey-400: #a89fc8;
  --color-grey-300: #cccccc;
  --color-grey-200: #e0d8f0;
  --color-grey-100: #ede8f8;
  --color-grey-50: #f5f2fc;
  --color-white: #fff;
  --color-indigo-700: #515297;
  --color-indigo-600: #686adb;
  --color-indigo-400: #c291f2;
  --color-indigo-300: #d1bcff;
  --color-indigo-200: #e8d8ff;
  --color-indigo-100: #f0eaff;
  --color-indigo-50: #f7f4ff;
  --color-red-50: #fef2f2;
  --color-red-100: #ffe2e2;
  --color-red-300: #ffa2a2;
  --color-red-800: #9f0712;
  --color-red-900: #82181a;
  --color-red-950: #460809;
  --color-yellow-50: #fffbeb;
  --color-yellow-100: #fef3c6;
  --color-yellow-400: #ffb900;
  --color-yellow-600: #e17100;
  --color-yellow-700: #bb4d00;
  --color-yellow-900: #7b3306;
  --color-yellow-950: #461901;
  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-400: #05df72;
  --color-green-600: #00a63e;
  --color-green-900: #0d542b;
  --color-green-950: #032e15;
}
